@import url('https://fonts.googleapis.com/css?family=BenchNine&display=swap');

body {
  font-family: 'BenchNine', sans-serif;
  margin: auto;
  padding: 20px;
  text-align: center;
  width: 300px;
  background-color: lightgray;
}

#quote-box {

}

#text {
  font-size: 1.5em;
}

#author {
  font-size: 1.2em;
  font-style: italic;
}

button {
	width: 125px;
  height: 50px;
  color: white;
  font-size: .9em;
	padding:.5em;
	text-decoration: none;
  border-color: transparent;
  border-radius: 5px;
}

button:hover {
  background-color:#d3d3d3;
  color: #000;
  opacity: .5;
  cursor: pointer;
}

#new-quote {
  background-color: #6A627B
}

#tweet-button {
  background-color: steelblue;
  margin-top: 10px;
}
